<h1>Questions</h1>
<%= link_to "Hacer pregunta", new_question_path %>
<br>
<% @questions.each do |question| %>
  <%= question.title%>
  <%= question.description %>
  <%= question.user.email %>
  <%= link_to "Ver", question_path(question.id) %>
  <br>
<% end %>