<div class="container mt-5 pt-5">
<%= render 'layouts/alerts' %>

  <div class="row">
    <div class="col-sm-10">
        <h2><%= @question.title %></h2>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-sm-1">
      <div class="text-right">
        <% if @question.question_voted_by? current_user %>
          <%= link_to question_vote_path(@question), method: :delete, class: "product-upvote upvote-active" do %>
            <span class="upvote-arrow"></span>
            <span class="upvote-count"><%= @question.votes.count %></span>
          <% end %>
        <% else %>
          <%= link_to question_vote_path(@question), method: :post, class: "product-upvote" do %>
            <span class="upvote-arrow"></span>
            <span class="upvote-count"><%= @question.votes.count %></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-10">
      <p class="text-justify mb-4"><%= @question.description%></p>
      <hr>
      <% if @question.comments.exists? %>
        <%= render partial: 'comments/comments', locals: {commentable: @question}%>
        <hr>
      <% end %>
      <% if user_signed_in?%>
        <%= render partial: 'comments/add_comment', locals: {commentable: @question}%>
        <% end %>
    </div>
    <div class="col-sm-1"></div>
  </div>


  <div class="row my-1 mt-5 pt-3">
    <div class="col-sm-10 offset-1">
        <h4><%= @question.answers.count %> Respuesta(s)</h4>
        <hr>
    </div>
  </div>
  <% if @question.answers.count != 0 %>
    <%@answers.each do |answer|%>
      <div class="row mb-5">
        <div class="col-sm-1">
          <div class="text-right">
            <% if answer.answer_voted_by? current_user %>
              <%= link_to answer_vote_path(answer), method: :delete, class: "product-upvote upvote-active" do %>
                <span class="upvote-arrow"></span>
                <span class="upvote-count"><%= answer.votes.count %></span>
              <% end %>
            <% else %>
              <%= link_to answer_vote_path(answer), method: :post, class: "product-upvote" do %>
                <span class="upvote-arrow"></span>
                <span class="upvote-count"><%= answer.votes.count %></span>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-10">
          <p class="text-justify mb-4">
            <%= answer.description %>
          </p>
          <hr>
          <% if @answers.exists? %>
            <%= render partial: 'comments/comments', locals: {commentable: answer}%>
          <% end %>
          <hr>
          <% if user_signed_in?%>
            <%= render partial: 'comments/add_comment', locals: {commentable: answer}%>   
          <% end %>
        </div>
        <div class="col-sm-1"></div>
      </div>
    <% end %>
  <% else %>
    <div class="col-sm-10 offset-1 text-justify">
      Si conoces a alguien que pueda responder esta pregunta por favor tímbrale y dile que lo necesitamos con urgencia.
    </div>
  <% end %> 
  
  <% if user_signed_in?%>
    <div class="row mt-5 pt-5">
      <div class="col-sm-11">
        <h4>Tu respuesta</h4>
        <hr>
        <%= render partial: 'form'%>
      </div>
    </div>
  <% end %>
  
</div>

    



